/*
color: #212121; — основной цвет текста
color: #757575; — вторичный цвет текста
color: rgba(255, 255, 255, 0.6); — цвет контактов в подвале
color: #2196F3; — акцент
color: #FFFFFF; — белый
background: #F5F4FA; — светло-серый для фона и кнопок
background: #2F303A; — тёмно-серый для фона
*/

/* Объявление цветов через CSS переменные */
:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--bottom-contacts-text-color: rgba(255, 255, 255, 0.6);
	--accent-color: #2196F3;
	--accent-color-trasparent: #2196F399;
	--main-light-color: #FFFFFF;
	--main-light-gray-color: #F5F4FA;
	--main-dark-gray-color: #2F303A;
	--main-black-color: #000000;
}

/* Общая стилизация */
body {
	color: var(--primary-text-color);
	background-color: var(--main-light-color);
}
a {
	text-decoration: none;
}

/* Логотип на светлом фоне */
.logo-dark .web {
	color: var(--accent-color);
}
.logo-dark:hover .web {
	color: var(--main-black-color);
}
.logo-dark .studio {
	color: var(--main-black-color);
}
.logo-dark:hover .studio {
	color: var(--accent-color);
}


/* Логотип на тёмном фоне */
.logo-light .web{
	color: var(--accent-color);
}
.logo-light:hover .web {
	color: var(--main-light-color);
}
.logo-light .studio {
	color: var(--main-light-color);
}
.logo-light:hover .studio {
	color: var(--accent-color);
}

/* Список без буллетов */
.list {
  padding: 0px;
	list-style: none;
}

/* Заголовок страницы с меню навигации */
.site-nav .link {
	color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}
.site-nav .link.current {
	color: var(--accent-color);
}
.site-nav .link.current:hover,
.site-nav .link.current:focus {
	color: var(--primary-text-color);
}
.contacts-top a {
  color: var(--secondary-text-color);
}
.contacts-top a:hover,
.contacts-top a:focus {
	color: var(--accent-color);
}

/* Заставка */
.hero {
  background-color: var(--main-dark-gray-color);
}
.hero-title {
	color: var(--main-light-color);
}
.hero-button {
	color: var(--main-light-color);
	background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
	color: var(--main-black-color);
	background-color: var(--main-light-gray-color);
}

/* Особенности и преимущества */
.features p {
  color: var(--secondary-text-color);
}

/* Наша команда */
.team {
  background: var(--main-light-gray-color);
}
.team p {
  color: var(--secondary-text-color);
}

/* Подвал */
.footer {
  background-color: var(--main-dark-gray-color);
}
.footer > address{
  color: var(--main-light-color);
}
.contacts-bottom a {
	color: var(--bottom-contacts-text-color);
}
.contacts-bottom a:hover,
.contacts-bottom a:focus {
	color: var(--accent-color-trasparent);
}

/* Набор контента */
.content h2 {
	color: var(--primary-text-color);
}
.content p {
  color: var(--secondary-text-color);
}